<div class="text-center">
  <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Issue Credential</h1>
  <div class="flex flex-row justify-center pt-10 pb-4">
    <div class="rounded border-2 p-5 border-indigo-200" style="width: 300px;">
      <img src="<%= "data:image/png;base64," + Base64.strict_encode64(
          Barby::QrCode.new(@credential_offer, level: :q, size: 18).to_png({ xdim: 8 })
      ).html_safe %>">
      <p>Scan me</p>
    </div>
  </div>
  <p class="pb-4">OR</p>
  <a href="<%= @credential_offer %>" class="bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Open from wallet...
  </a>
</div>